
/* Your CSS Code here. */

.heading{
	width: 200px;
	background: purple;
	padding: 10px;
	font-size: 20px;
	color: white;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-left-color: green;
}
