
/* Your CSS Code here. */

.main{
	width: 200px;
}

.heading{
	background: rgb(128, 0, 128);
	padding: 10px;
	font-size: 20px;
	color: white;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-left-color: green;
}
